@use "../../../sass/abstract/" as *;

.login-content {
  width: 100% !important;
  height: 100vh !important;
  overflow: hidden !important;
}
.button-forgetpassword {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-button {
  // width: ;
  width: 30% !important;
  background-color: #e95a5a !important;
}
.modal-bodys {
  padding-top: 10% !important;
}
