@use "../../../../../sass/abstract/" as *;

.invoiceprint {
    background-color: #e95a5a !important;
    border: none !important;
    color: white !important;
    padding: 10px 20px !important;
}
    