@use "../../../sass/abstract/" as *;

.header {
  display: flex;
  justify-content: space-between;
}

.content-margin {
  margin-top: 25px;
}

.background {
  background-color: #ff9c9e5e !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  // display: none;
  // -webkit-appearance: none;
  filter: invert(1);
}
