@use "../../../sass/abstract/" as *;

.header {
  display: flex;
  justify-content: space-between;
}

.content-margin {
  margin-top: 25px;
}

.background {
  background-color: #ff9c9e5e !important;
}
